/* remove maximum/minimum width restriction of sidebar */
#sidebar-box[sidebarcommand="9dba9848-1289-4662-ac96-487a72c7e9fe"] {
  max-width: 60px !important;
  min-width: 60px !important;
  width: 60px !important;
}

#sidebar-box[sidebarcommand="9dba9848-1289-4662-ac96-487a72c7e9fe"] .sidebar-header .close-icon {
  display: none !important;
}

/* Minimize sidebar header to a light blue stripe (except Bookmarks, History, Sync'd Tabs); appears normally on hover */
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"]) #sidebar-header:not(:hover) {
  max-height: 5px !important;
  min-height: 5px !important;
  padding: 0 !important;
  background-color: #7ad !important;
  opacity: 0.25 !important;
}

#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"]) #sidebar-header:not(:hover) #sidebar-switcher-target {
  opacity: 0 !important;
}